body{
  background: #548;
}

h2 {
  color: #FFF;
}

a {
  color: #FFF;
}

a:hover{
  color: #A5ABFB;
  text-decoration: none;
}

p {
  margin: 0px 0px 30px;
}

.contact {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 30px;
  background: #548;
  color: #BBB4CF;
}

.btn-primary {
  color: #FFF;
  background-color: #887AB6;
  border: none;
}

.clear {
  padding-bottom: 4px;
}

.btn-primary:hover {
  color: #FFF;
  background-color: #6654A1;
}

.btn-o {
  padding-top: 5px;
}

.twitter-follow-button {
  height: 25px !important;
  padding-top: 5px !important;
}
