/* subscription */

* {
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background: #f9f9f9;
}

h1, h2, h3, h4, h5, button, a {
  font-family: "Roboto Condensed", sans-serif;
}

.text-right,
.text-left {
  text-align: center;
}

@media (min-width: 692px) {
  .text-right {
    text-align: right;
  }

  .text-left {
    text-align: left;
  }
}

@media (max-width: 767px) {
.pricing-container {
  min-height: 500px !important;
  background: url(/images/pricing.jpg) no-repeat center center;
  margin-bottom: 35px;
  }
}

.pricing-container {
  position: relative;
  width: 100%;
  min-height: 300px;
  overflow: hidden;
  background: url(/images/pricing.jpg) no-repeat center center;
  background-size: cover;
  margin-bottom: 35px;
}

.pricing-overlay {
  background: rgba(85, 68, 136, 0.62);
  background: linear-gradient(-225deg, rgba(100, 53, 132, 0.8) 0%, rgba(72, 135, 197, 0.92) 100%);
  height: 500px;
}

.pricing-content {
  padding-top: 130px;
  text-align: center;
  color: white;
  width: 72%;
  text-align: center;
  margin-left: 13%;
}

.pricing-content h1 {
  font-size: 50px;
  font-weight: 700;
}

.header-btn {
  margin-top: 50px;
  text-align: center;
}

.header-btn p {
    color: white;
    margin-top: 10px;
}

.header-btn a:hover {
  background: #6144B8;
  color: #fff;
  text-decoration: none;
}

.free-trial {
  background: #129BEE;
  color: white;
  padding: 10px 20px 10px 20px;
  font-size: 24px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.2s;
}

.subscriptions {
  text-align: center;
  max-width: 970px;
  margin: auto;
}

.subscriptions .row{
  margin-left: 0;
  margin-right: 0;
}

.subscription {
  width: 300px;
  font-weight: 200;
  text-align: center;
  transition: all 0.3s;
  display: inline-block;
  box-shadow: 0 3px 3px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin-top: 10px;
  background: white;
}


.subscription .header {
  font-size: 40px;
  color: #FFFFFE;
  background: #444;
  height: 110px;
  line-height: 100px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
}

.subscription .header .sub-header {
  font-style: italic;
  font-size: 15px;
  line-height: 34px;
  text-transform: initial;
  top: -35px;
  position: relative;
  font-weight: 400;
}

.basic.subscription,
.plus.subscription {
  position: relative;
}

.standard.subscription .header {
  background: #129BEE;
}

.subscription .price {
  font-size: 50px;
  color: #444;
  padding: 33px 0px 20px;
  background: #fff;
  font-weight: 600;
}

.subscription .price .money {
  display: inline;
  margin: 0px;
  padding: 0;
  font-size: 24px;
  font-weight: 600;
  top: -22px;
  margin-left: -20px;
  position: relative;
}

.subscription .subprice {
  color: #333;
  font-size: 15px;
  font-weight: 400;
}

.subscription .details {
  background: #FFFFFF;
  padding: 11px 30px 20px;
  text-align: left;
}

.subscription .detail {
  font-size: 15px;
  line-height: 25px;
  padding: 5px 0px;
  transition: all 0.2s;
}

.subscription .detail:hover {
  background: #fff;
}

.subscription .detail .body {
  display: inline-block;
  position: relative;
  top: -5px;
  padding-left: 10px;
  font-weight: 400;
  width: 88%;
}

.subscription .detail .body.double {
  top: 6px;
  margin-bottom: 9px;
  line-height: 1.3em;
}

.subscription .detail .glyphicon {
  color: #129BEE;
  font-size: 25px;
  width: 10%;
}

.subscription a.button {
  padding: 15px;
  background: #e7e7e7;
  display: inline-block;
  width: 95%;
  margin-bottom: 8px;
  font-size: 15px;
  border-radius: 5px;
  transition: all 0.1s;
  color: #333;
}

.standard.subscription a.button {
  background: #129BEE;
  color: #fff;
}

.standard.subscription a.button:hover {
  background: #6144B8;
}

.subscription a.button:hover {
  text-decoration: none;
  background: #6144B8;
  color: white;
}

.quote {
  height: 67px;
  margin: 30px auto;
  background: #fff;
  text-align: left;
  border: 1px solid #DDD;
  max-width: 840px;
}

.quote-head {
  font-weight: 600;
  font-size: 19px;
  line-height: 67px;
  display: inline-block;
  padding: 0px 15px;
}

.quote-body {
  font-weight: 200;
  font-size: 16px;
  color: #333333;
  line-height: 67px;
  display: inline-block;
  padding: 0px 15px;
}

.quotation-btn {
  padding: 7px;
  border: 2px solid #129BEE;
  color: #129BEE;
  border-radius: 4px;
  margin-right: 15px;
  font-weight: 600;
  transition: all 0.2s;
  float: right;
  position: relative;
  top: 15px;
}

.quotation-btn:hover {
  background: #129BEE;
  color: white;
  text-decoration: none;
}

.subs-header {
  text-align: center;
  margin: 50px 0px
}

.small.subs-header {
  margin: 50px 0px;
}

.subs-header .title {
  font-weight: 600;
  font-size: 46px;
  color: #242424;
  line-height: 64px;
}

.subs-header .subtitle {
  font-weight: 400;
  font-size: 19px;
  color: #979797;
  line-height: 27px;
}

.subs-header hr {
  margin: 7px 285px;
  border-top: 1px solid #d4d4d4;
}

@media ( max-width: 900px ) and (min-width: 768px) {
  .subscription {
    width: 250px;
  }
  .subscription .detail {
    font-size: 14px;
  }
  .subscription .detail .glyphicon {
    font-size: 19px;
  }
  .basic.subscription,
  .plus.subscription {
    top: 0px;
  }
}

hr.divider {
  margin: auto;
  margin-top: 80px;
  width: 970px;
  border-color: #D3D3D3;
  border-width: 1px;
  max-width: 100%;
}

.spacer {
  margin: 50px 0px;
}

.other-services {
  text-align: center;
}

.other-services a {
  margin: auto;
  color: #555;
}

img.gs {
  transition: all 0.2s;
}

.other-services a:hover {
  text-decoration: none;
}

a.btn-default {
  background: #fff;
  border: 1px solid #129bee;
  color: #129bee;
  font-weight: 400;
  padding: 6px 8px;
  transition: all 0.15s;
}

a.btn-default:hover {
  background: #129bee;
  color: white;
  border: 1px solid #129bee;
}

.gitlab-com {
  margin-top: 20px;
  text-align: center;
}

.com-sub {
  width: 370px;
  margin: auto;
  float: none;
  text-align: left;
  display: inline-block;
  margin-top: 15px;
  background: #EDEDED;
  padding-bottom: 15px;
}

.com-sub .title {
  width: 100%;
  height: 130px;
  line-height: 130px;
  text-align: center;
  background: #128bee;
  color: white;
  font-weight: 600;
  font-size: 34px;
  margin: auto;
  margin-bottom: 15px;
}

.support.com-sub .title {
  background: #1763A1;
}

.com-sub .body {
  padding-left: 15px;
  font-size: 1.6rem;
}

.top-header {
  text-align: center;
  margin: 50px 0px;
}

.top-body {
  font-size: 17px;
  width: 550px;
  margin: auto;
  text-align: left;
  margin-bottom: 20px;
}

.top-body .list {
  margin: 15px;
}

.pricing-notes {
  max-width: 900px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.1);
  border-radius: 5px;
  background: white;
  margin: auto;
}

.pricing-notes p {
  text-align: left;
  font-size: 18px;
  margin-bottom: 0px;
  border-bottom: 1px solid rgba(0,0,0,0.08);
  padding: 12px;
}

.pricing-notes p:last-child {
  border-bottom: 0;
}

.cc-only {
  margin: 5px 0 10px;
  font-style: italic;
  color: #666;
}

.box {
  box-shadow: 0 3px 3px rgba(0,0,0,0.1);
  background: #fff;
  padding: 23px;
  border-radius: 5px;
  max-width: 271px;
  margin: 10px auto;
}
